# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Gradle Caching
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
            ${{ runner.os }}-gradle-

    - name: Copy Test
      env:
        APPLICATION: ${{ secrets.APPLICATION }}
        APPLICATION_DIR: src/main/resources
        APPLICATION_DIR_FILE_NAME: application.yml
      run: echo $APPLICATION | base64 --decode > $APPLICATION_DIR/$APPLICATION_DIR_FILE_NAME

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Compile querydsl with Gradle
      run: ./gradlew compilequerydsl

    - name: Make zip file
      run: |
        mkdir deploy
        cp ./docker-compose.blue.yml ./deploy/
        cp ./docker-compose.green.yml ./deploy/
        cp ./appspec.yml ./deploy/
        cp ./Dockerfile ./deploy/
        cp ./scripts/*.sh ./deploy/
        cp ./build/libs/*.jar ./deploy/
        zip -r -qq -j ./osogo-build.zip ./deploy

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2

    - name: Upload to S3
      run: |
        aws s3 cp \
          --region ap-northeast-2 \
          ./osogo-build.zip s3://osogo-backend/build/osogo-build.zip

    # 추가
    - name: Code Deploy
      run: aws deploy create-deployment --application-name osogo-back
        --deployment-config-name CodeDeployDefault.OneAtATime
        --deployment-group-name osogo-back-group
        --s3-location bucket=osogo-backend,bundleType=zip,key=build/osogo-build.zip
